IndentWidth: 4
BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: -4
IndentAccessModifiers: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterTemplateKeyword: true
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
AlignConsecutiveDeclarations: true
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 122
AlignConsecutiveAssignments: true
BreakBeforeBinaryOperators: None
AlignTrailingComments: true

IncludeBlocks: Preserve
SortIncludes:
  Enabled: false
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AlwaysBreakTemplateDeclarations: false
FixNamespaceComments: true
ReflowComments: false
BasedOnStyle: None
DisableFormat: false
Language: Cpp
Standard: Latest
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignEscapedNewlines: Right
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortNamespacesOnASingleLine: false
AllowShortEnumsOnASingleLine: false
BreakAfterReturnType: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
Cpp11BracedListStyle: true
BinPackLongBracedList: true
BreakBeforeInheritanceComma: false
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 1
SortUsingDeclarations: LexicographicNumeric
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
CompactNamespaces: false
IncludeIsMainRegex: '(Test)?$'
BreakAfterAttributes: Always
SeparateDefinitionBlocks: Always