# Global filters
*.md
*.py*
*.txt
*.log
*.out
*.bak*
*.sh
*.bundle

core.*
auth.db*

# temporary, builders
tmp/
/build/
/bin/

# Workspace specific
/.vscode/


# Exemptions
!/README.md
!CMakeLists.txt
